html, body {
  height: 100%;
  width: 100%;
  background-color: #2C2930;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Niconne', cursive;
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

iframe {
  width: 100%;
  height: 281px;
}

.portfolio-link {
  font-size: 1.5em;
}

.section {
  padding: 40px 0;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}

#top {
  background: url('../img/cover.png') no-repeat center center scroll;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#recruit {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
}

#synopsis {
  background-color: #FCC14B;
  color: #000;
}

#press {
  background-color: #FCC14B;
  color: #000;
}

#press .panel {
  min-height: 180px;
}

#press .panel img {
  padding: 0.3em;
  max-width: 100%;
}

#crew .panel img {
  max-width: 100%;
}

#crew .panel {
  color: #000;
  opacity: 0.75;
  min-height: 550px;
}

#contact {
  background-color: #FCC14B;
  color: #000;
  height: 100%;
}

#contact a {
  font-family: 'Bree Serif', serif;
  font-size: 1.5em;
}

#splash, #stub {
  max-width:100%;
  border-radius: 10px;
}

.bio-blurb {
  margin-top: 1em;
}

.headshot {
  border-radius: 10px;
  text-align: center;
}

.siren-text {
  font-style: italic;
}

.title-text {
  font-weight: bold;
}﻿
