/* global styles */
html, body {
  height: 100%;
  width: 100%;
  background-color: #302D33;
  color: #FFF;
}

/* sections */
.section {
  padding: 40px 0;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}

#top {
  background: url('../img/cover.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#synopsis {
  background-color: #FCC14B;
  color: #000;
}

#press {
  background-color: #FCC14B;
  color: #000;
}

#press .panel {
  height: 180px;
}

#press .panel img {
  padding: 0.3em;
  max-width: 100%;
}

#crew {
}

#crew .panel {
  color: #000;
  opacity: 0.75;
}

#contact {
  background-color: #FCC14B;
  color: #000;
  height: 100%;
}


/*---------------------------------------------------------------------------*/
#splash, #stub {
  max-width:100%;
  border-radius: 10px;
}

.bio-blurb {
  margin-top: 1em;
}

.headshot {
  border-radius: 90px;
  text-align: center;
}

.siren-text {
  font-style: italic;
}

.title-text {
  font-weight: bold;
}﻿
